* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

#loginbox {
    width: 260px;
    margin: 200px auto;
}

#userName {
    width: 180px;
    height: 15px;
    line-height: 15px;
    margin-left: 0;
    vertical-align: middle;
}

#submit {
    width: 50px;
    height: 33px;
    vertical-align: middle;
    line-height: 18px;
}

#chatbox {
    display: none;
}

#chatbox .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    background: #5cb85c;
    color: #fff;
    z-index: 99;
}

#doc{
    margin-top: 38px;
}

#chatbox .header .name {
    text-align: left;
    margin-left: 10px;
}

#chatbox .header .user, #chatbox .header .logout {
    float: right;
    margin-right: 10px;
}

#onLineCounts {
    padding: 10px;
    background: #EFEFF4;
    font-size: 12px;
    color: #666;
    word-break: break-all;
}

.system {
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}

.user-box, .service-box {
    position: relative;
    width: 100%;
    margin: 0 0 5px;
    padding: 10px 0;
}

.user-box .chatter {
    background-color: #5cb85c;
    right: 0;
}

.user-box .content {
    padding-right: 55px;
    padding-left: 10px;
}

.service-box .content {
    padding-right: 10px;
    padding-left: 55px;
}

.service-box .chatter {
    background-color: #427dd1;
    left: 0;
}

.chatter {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content {
    display: block;
    font-size: 12px;
    background-color: #fff;
    min-height: 40px;
    word-break: break-all;
}

.input-box {
    width: 100%;
}

.input-form {
    display: inline-block;
    width: 90%;
    margin-left: 2.5%;
    height: 20px;
    padding: 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-form:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.button-form {
    height: auto;
    width: 95%;
}

.clear:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}